body {
    font-family: arial,sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#nav {
    position: absolute;
    top: 12px;
    right: 16px;
}

.nav-link {
    color: #2b2b2b;
    font-size: 13px;
    padding: 6px;
}

#nav-apps {
    padding: 10px;
    margin: 0 8px;
    color: #5f6368;
}

#nav-apps:hover {
    border-radius: 90%;
    background-color: #dedee07a;
}

.nav-apps {
    position:relative;
    left: 1px;
    top: 6px;
}

#sign-in {
    color: white;
    background-color: #1a73e8;
    padding: 10px 26px;
    font-size: 14px;
    border-radius: 4px;
}

#sign-in:hover {
    text-decoration: none;
    background-color: #1a73e8ee;
    box-shadow: 0px 0px 2px 2px #1a73e82c;
}

.google {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.search-border {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 500px;
    height: 25px;
    margin-top: 20px;
    border-radius: 22px;
    border: 1px solid #dedee0ea;
}

.search-border:hover {
    box-shadow: 0 0 6px #c4c4c4f8;
}

.search-icon {
    position: relative;
    top: 2px;
    color: #989899;
}

.input-search {
    position: relative;
    bottom: 25px;
}

input {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    left: 33px;
    border: none;
    font-weight: bold;
    color: #353535;
}

input:focus {
    outline: none;
}

#button-div {
    margin-top: 40px;
    text-align: center;
}

.search-button {
    position: relative;
    margin: 6px;
    font-size: 14px;
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    color: #2b2b2b; 
    background-color: #ebebeb5e;
}

.search-button:hover {
    text-decoration: none;
    border: 1px solid #dedee0ea;
    box-shadow: 0 1px 1px #c4c4c4f8;
}

footer {
    position: fixed;
    display: flex;
    justify-content: space-evenly;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background-color: #dedee07a;
    border-top: 1px solid #dedee0ea; 
}

.footer-link {
    margin: 0 15px;
    font-size: 14px;
    color: #777;
}

.footer-link-left {
    display: flex;
    justify-content: space-evenly;
}

.footer-link-right {
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 1200px) {
    footer {
        justify-content: space-between;
    }
    
    .footer-link-left {
        justify-content: flex-end; 
    }

    .footer-link-right {
        justify-content: flex-start;
        margin-right: 30px;
    }
}